<nav id="sidebar-icon-links">
    <a id="email-link"
    class="icon" title="{{ site.email }}" aria-label="Email"
    href="mailto:{{ site.email }}">
    {% include svg/email.svg %}
    </a>
    <a id="linkedin-link"
    class="icon" title="{{ site.linkedin }}" aria-label="LinkedIn"
    href="https://linkedin.com/{{ site.linkedin }}">
    {% include svg/linkedin.svg %}
    </a>
    <a id="github-link"
       class="icon" title="{{ site.github }}" aria-label="Github Project"
       href="https://github.com/{{ site.github }}">
      {% include svg/github.svg %}
    </a>
    <a id="twitter-link"
       class="icon" title="{{ site.twitter }}" aria-label="Twitter"
       href="https://twitter.com/{{ site.twitter }}">
      {% include svg/twitter.svg %}
    </a>

  <a id="stackoverflow-link"
     class="icon" title="{{ site.stackoverflow }}" aria-label="Stackoverflow"
     href="https://stackoverflow.com/users/{{ site.stackoverflow }}">
    {% include svg/stackoverflow.svg %}
  </a>

  <a id="blog-link"
     class="icon" title="{{ site.blog }}" aria-label="Blog"
     href="{{ site.blog }}">
    {% include svg/reddit.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>
