---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  <p><span style="font-family: 'Courier New', Courier, monospace; font-style: italic;">’Good software developer writes code that a machine understands, Great software developers writes code that a hu-
  man can understand’ - Martin Fowler</span></p>

<p>Lead software engineer with over a decade of experience in building enterprise applications. He has worked in diverse companies that span a broad spectrum across layers (UI, Backend), domains(Ecommerce, Core Engineering, HRM, Cloud), technologies, company size(startups, mid size, large enterprises).</p>

<p>He has lead teams in building products with strong foundations in design, coding standards, scalable, highly configurable systems. Also interacted with clients and conducted sessions for clients on product usage.</p>


  {% include pagination-older.html %}

  <a href='{{ "/category/work-experience" | absolute_url }}'>
    Work Experience
  </a>
  <br>
  <a href='{{ "certifications" | absolute_url }}'>
    Certifications
  </a>
  <br>
  <a href='{{ "education" | absolute_url }}'>
    Education
  </a>
  <br>
  <a href='{{ "projects" | absolute_url }}'>
    Projects
  </a>
  <br>
  <a href='{{ "skills" | absolute_url }}'>
    Skills
  </a>
  <br>
  <a href='{{ "talks-and-articles" | absolute_url }}'>
    Talks and Articles
  </a>

  <!-- <ul class="posts-list">
    {% assign category = 'Work Experience' %}
    {% for post in site.categories[category] %}
      <li>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %} -->

</div>
